.sobre__descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 70px;
}

.sobre__descricao__imagem {
    width: 70%;
    border-radius: 50%;
}

.sobre__descricao h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--cor-quaternaria);
    margin: 20px 0 10px 0;
}

.sobre__descricao p {
    text-align: justify;
    margin-bottom: 10px;
    line-height: 20px;
}