.container__portfolio {
    background-color: var(--cor-primaria);
    padding: 10% 5%;
}

.container__portfolio__titulo {
    font-size: 1.4rem;
    text-align: center;
    color: var(--cor-terciaria);
    margin-bottom: 60px;
    position: relative;
}

.container__portfolio__titulo::after {
    content: '';
    position: absolute;
    width: 50px;
    border-bottom: 2px solid var(--cor-secundaria);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}

.container__portfolio__projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    padding: 25px 0;
}

.swiper-pagination-bullet {
    background-color: var(--cor-secundaria) !important;
}