.container__portfolio {
    background-color: var(--cor-primaria);
    padding: 10% 10%;
}

.container__portfolio-titulo {
    font-size: 1.1rem;
    color: var(--cor-quinta);
    margin-bottom: 30px;
    font-weight: 600;
    background: var(--cor-secundaria);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.container__portfolio__projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.swiper-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}