.contato__formulario {
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.contato__formulario fieldset {
    display: flex;
    flex-direction: column;
}

.contato__formulario fieldset label {
    font-weight: 500;
}

.contato__formulario fieldset input {
    padding: 10px 8px;
    border-radius: 10px;
    border: solid 1px var(--cor-terciaria);
    margin-bottom: 30px;
    margin-top: 10px;
}

.contato__formulario textarea {
    border-radius: 10px;    
    border: solid 1px var(--cor-terciaria);
    padding: 10px 8px;
}

.contato__formulario button {
    margin-top: 20px;
    width: 100px;
}
