.container__header {
    display: flex;
    padding: 25px;
    align-items: center;
    background-color: var(--cor-primaria);
    justify-content: center;
}

.container__header__titulo {
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.2rem;
}

.container__header__botao {
    position: absolute;
    left: 20px;
}

.container__header__navegacao {
    position: absolute;
    height: 100vh;
    background: var(--cor-primaria);
    left: -80vw;
    top: 0;
    width: 60vw;
    border-right: solid 2px var(--cor-secundaria);
    padding: 49px 0 0 30px;
    transition: 250ms all;
    z-index: 1;
}


.open {
    left: 0 !important;
    transition: 400ms all;
}

.menu-opened {
    margin-left: 62vw !important;
    transition: 300ms all;
    position: absolute;
    background-color: var(--cor-quinta);
    width: 45px;
    text-align: end;
    padding: 5px 0;
    border-radius: 5px;
}

.menu-opened:active{
    transform: scale(1.1);
}

.container__header__navegacao ul li {
    color: var(--cor-quinta);
    border-bottom: solid 3px var(--cor-secundaria);
    margin-bottom: 40px;
    font-weight: 600;
    padding-bottom: 5px;
}

.container__home__redes-sociais ul {
    display: flex;
}

@media screen and (min-width: 768px) {
    .menu-opened {
        margin-left: 61vw !important;
    }
}

@media screen and (min-width: 1024px) {
    .container__header__botao {
        display: none;
    }

    .container__header__titulo {
        font-size: 1.5rem;
    }

    .container__header {
        justify-content: space-between;
        padding: 25px 10%;
    }

    .container__header__navegacao {
        position: relative;
        height: min-content;
        background: var(--cor-primaria);
        left: auto;
        top: 0;
        width: auto;
        border-right: none;
        padding: 0;
        background: none;
    }

    .container__header__navegacao ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .container__header__navegacao ul li {
        color: var(--cor-quinta);
        border-bottom: none;
        margin-bottom: 0;
        font-weight: 200;
        padding-bottom: 0;
        font-size: 1rem;
        padding: 10px 15px;
        transition: 100ms all;
        border-radius: 5px;
        cursor: pointer;
    }

    .link-contato {
        background: var(--cor-secundaria);
        font-weight: 500 !important;
    }

    .container__header__navegacao ul li:hover {
        background-color: var(--cor-secundaria);
        transition: 300ms all;
    }
}

@media screen and (min-width: 1920px) {
    .container__header {
        padding: 25px 15%;
    }
    
}