.container__contato {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10% 0%;
  position: relative;
}

.container__contato-titulo {
  font-size: 1.4rem;
  text-align: center;
  color: var(--cor-terciaria);
  position: relative;
  margin-bottom: 50px;
}

.container__contato-titulo::after {
  content: "";
  width: 50px;
  border-bottom: 2px solid var(--cor-secundaria);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
}

.container__contato__imagem img {
  width: 100%;
}

.container__contato form {
  width: 95%;
  background: var(--cor-primaria);
  border-radius: 20px;
  padding: 30px 20px;
  height: min-content;
  margin: auto;
  box-sizing: border-box;
}

.container__contato form fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

.container__contato form fieldset label {
  color: var(--cor-secundaria);
  font-weight: 500;
  margin-bottom: 15px;
}

.container__contato form fieldset input {
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  border-bottom: solid 1px var(--cor-secundaria);
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
}

.container__contato form fieldset input:focus {
  border-color: none;
  outline: none;
}

.container__contato form textarea {
  border-radius: 10px;
  background-color: var(--cor-primaria);
  border: none;
  border-bottom: solid 1px var(--cor-secundaria);
  padding: 10px;
  margin-top: 20px;
  height: 75px;
  color: var(--cor-terciaria);
}

.container__contato form textarea:focus {
  border-color: none;
  outline: none;
}

.container__contato form button {
  background-color: var(--cor-secundaria);
  border: none;
  color: var(--cor-terciaria);
  padding: 10px 15px;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

.show {
  animation:moveUpDown 2.5s infinite, moveToRight 2.5s ease-in-out;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-200vw);
  }
}

@media screen and (min-width: 768px) {
  .container__contato form {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container__contato {
    background-color: var(--cor-primaria);
    display: grid;
    gap: 30px;
    padding: 10% 10%;
    grid-template-columns: 50% 50%;
    align-items: center;
    position: relative;
  }

  .container__contato-titulo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .container__contato__imagem {
    margin: auto 0;
  }

  .container__contato form {
    width: 80%;
    background: var(--cor-primaria);
    border-radius: 20px;
    padding: 30px 20px;
    height: min-content;
    margin: auto 0;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .container__contato__imagem {
    width: 80%;
    margin: 0 auto;
  }
}
